{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
{% endblock %}

{% block header %}
<!-- Nothing here for the login page -->
{% endblock %}

{% block content %}
<section class="vh-100 login-main">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-8 col-xl-5">
                <form class="card shadow-2-strong login-box" action="{% url 'account:login' %}" method="POST">
                    {% csrf_token %}
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">{% trans "Sign in" %}</h3>

                        <div class="form-outline mb-4">
                            {{ form.username }}
                            <label class="col-form-label col-form-label-lg" for="form-email">
                                {% trans "Username"%}</label>
                        </div>

                        <div class="form-outline mb-4">
                            {{ form.password }}
                            <label class="col-form-label col-form-label-lg" for="form-pass">
                                {% trans "Password"%}</label>
                        </div>

                        <button class="btn btn-outline-primary btn-lg btn-block" type="submit">
                            {% trans "Login" %}</button>

                        <div class="my-4">
                            <p>{% trans "Don't have an account?" %} <a href="{% url 'account:register' %}"
                                    class="link-info">
                                    {% trans "Register here" %}</a>
                            </p>
                        </div>

                        <!-- If i need social auth -->

                        <!-- <hr class="my-4">

                        <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                            type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
                        <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                            type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button> -->

                        <div class="my-4 text-center">
                            <!-- Return to home page -->
                            <a href="{% url 'home' %}" style="font-size: 3rem;" title="Take me to home">
                                <i class="fas fa-home"></i>
                            </a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
<!--  -->
{% endblock %}

{% block js %}
<!-- Add some class to default django input form -->
<script>
    let inputs = document.getElementsByTagName('input');

    for (i = 0; i < inputs.length; i++) {
        inputs[i].className = "form-control form-control-lg"
        console.log(inputs[i]);
    }

</script>
{% endblock %}