{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/logout.css' %}" type="text/css">
{% endblock %}

{% block content %}
<section class="vh-100 login-main">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-8 col-xl-5">
                <div class="card shadow-2-strong ">
                    <h1>{% trans "Logged out" %}</h1>
                    <p>
                        {% trans "You have been successfully logged out." %}
                        {% trans "You can" %} <a href="{% url 'account:login' %}">
                            {% trans "log-in again" %}</a>.
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
<!--  -->
{% endblock %}