{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" type="text/css">
{% endblock %}

{% block header %}
<!-- Nothing here for the login page -->
{% endblock %}

{% block content %}
<section class="vh-100 register-main row d-flex justify-content-center align-items-center">
    <div class="card ">
        <div class="text-center card-header">
            Fill this form to register
        </div>

        <form class="card-body" action="{% url 'account:register' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Register</button>

            <hr class="my-4">
            <div class="my-4">
                <p>Already have an account? <a href="{% url 'account:login' %}" class="link-info">Login here</a></p>
            </div>
            <div class="my-4 text-center">
                <!-- Return to home page -->
                <a href="{% url 'home' %}" style="font-size: 3rem;" title="Take me to home">
                    <i class="fas fa-home"></i>
                </a>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block footer %}
<!--  -->
{% endblock %}

{% block js %}
<!-- Add some class to default django input form -->
<script>
    let inputs = document.getElementsByTagName('input');

    for (i = 0; i < inputs.length; i++) {
        inputs[i].className = "form-control form-control-lg"
    }

    let li_tags = document.getElementsByTagName('li');
    for (i = 0; i < li_tags.length; i++) {
        li_tags[i].className = "form-text text-muted"
    }

    let span_tags = document.getElementsByTagName('span');
    for (i = 0; i < span_tags.length; i++) {
        span_tags[i].className = "form-text text-muted"
    }

</script>
{% endblock %}