{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/reservation_detail.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="content container" style="margin: auto; max-width: 98vw; padding: 5rem; font-size: large;">

    <div class="sections row">
        <section class="main col-md-8 col-lg-8 col-sm-8 row">
            <div class="card w-75">
                <img src="{{ resource.picture.url }}" class="card-img-top" alt="resource image" style="height: 50rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ resource.name }}</h5>
                    <p class="card-text">{{ resource.description }}</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Update the reservation</h5>
                    <div class="row">
                        <!-- Django messages -->
                        {% include 'includes/alerts.html' %}
                        <!-- End messages -->
                    </div>
                    <form method="POST" action=".">
                        {% csrf_token %}

                        {{ form.non_field_errors }}

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="title">Title : </label>
                                {{ form.title.errors }}
                                {{ form.title }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="overview">Overview : </label>
                                {{ form.overview.errors }}
                                {{ form.overview }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-lg-6">
                                <label for="start-date">Start date : </label>
                                {{ form.start_date.errors }}
                                {{ form.start_date }}
                            </div>
                            <div class="form-group col-lg-6">
                                <label for="end-date">End date : </label>
                                {{ form.end_date.errors }}
                                {{ form.end_date }}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg">Update</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="sidebar col-md-4 col-lg-4 col-sm-4">
            <div class="card w-90 text-center rounded border border-info font-weight-bold bg-light mb-4">
                <div class="card-body">
                    <h5 class="card-title">Date of the day</h5>
                    <p class="card-text" id="date-time">
                    </p>
                </div>
            </div>

            <div class="card w-100 mb-4">
                <div class="card-body {{ reserv.status }}">
                    {% if user.is_staff %}
                    <h5 class="card-title">{{ reserv.title }} | Requested by {{reserv.user.username}}</h5>
                    {% else %}
                    <h5 class="card-title">{{ reserv.title }}</h5>
                    {% endif %}
                    <p class="card-text">{{ reserv.overview }}</p>
                    <div class="row">
                        <p class="card-text col-lg-6">
                            <i class="fas fa-clock text-success"> Begin : </i>
                            {{ reserv.start_date | date:"l d F Y, H:i" }}
                        </p>
                        <p class="card-text col-lg-6">
                            <i class="fas fa-clock text-danger"> End : </i>
                            {{ reserv.end_date | date:"l d F Y, H:i" }}
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block js %}
<!-- Show the current date and time -->
<script>
    function displayTime() {
        const today = new Date();
        let y = today.getFullYear();
        let mon = today.getMonth();
        let d = today.getDate();
        let h = today.getHours();
        let m = today.getMinutes();
        let s = today.getSeconds();
        mon = formatMonth(mon);
        m = checkTime(m);
        s = checkTime(s);

        dateString = d + "/" + mon + "/" + y + " " + h + "hr:" + m + "min:" + s + "s";
        document.getElementById('date-time').innerHTML = dateString;
        setTimeout(displayTime, 1000);
    }

    function checkTime(i) {
        // add zero in front of numbers < 10
        if (i < 10) { i = "0" + i };
        return i;
    }

    function formatMonth(m) {
        // The getMonth() return [0 - 11].
        // By doing this, i return [1 - 12]
        return m + 1;
    }

    displayTime();
</script>
{% endblock %}