.ended, .canceled {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.pending {
    background-color: #cce5ff;
    border-color: #b8daff;
}

.confirmed {
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.in_progress {
    background-color: #fff3cd;
    border-color: #ffeeba;
}


/* Post reservation error style */
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}